body {
  background-color: aliceblue;
}
h1{
  font-size:xxx-large;
  text-align: center;
}
.table-container{
  text-align: center;
  align-self: center;
}
.tg{
  margin-left: auto;
  margin-right: auto;

}